<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PAGE_TITLE</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>BORDERS_SWITCH_LABEL</string>
			<key>key</key>
			<string>badgeBordersEnabled</string>
			<key>id</key>
			<string>CMBBadgeBordersEnabled</string>
			<key>default</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BORDER_COLOR_GROUP_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>BORDER_COLOR_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>badgeBorderType</string>
			<key>id</key>
			<string>CMBBadgeBorderType</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>BORDER_COLOR_LIST_ITEM_FIXED_COLOR</string>
				<string>BORDER_COLOR_LIST_ITEM_BY_BRIGHTNESS</string>
				<string>BORDER_COLOR_LIST_ITEM_BY_BADGE_FOREGROUND_COLOR</string>
				<string>BORDER_COLOR_LIST_ITEM_BY_SHADED_BADGE_BACKGROUND_COLOR</string>
				<string>BORDER_COLOR_LIST_ITEM_BY_TINTED_BADGE_BACKGROUND_COLOR</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
			</array>
			<key>staticTextMessage</key>
			<string>BORDER_COLOR_LIST_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>BORDER_COLOR_LINK_LABEL</string>
			<key>cellClass</key>
			<string>CMBColorPickerCell</string>
			<key>key</key>
			<string>badgeBorderColor</string>
			<key>id</key>
			<string>CMBBadgeBorderColor</string>
			<key>default</key>
			<string>#FFFFFF</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>BORDER_WIDTH_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>badgeBorderWidth</string>
			<key>id</key>
			<string>CMBBadgeBorderWidth</string>
			<key>default</key>
			<real>1.0</real>
			<key>validTitles</key>
			<array>
				<string>BORDER_WIDTH_LIST_ITEM_0_5</string>
				<string>BORDER_WIDTH_LIST_ITEM_1_0</string>
				<string>BORDER_WIDTH_LIST_ITEM_1_5</string>
				<string>BORDER_WIDTH_LIST_ITEM_2_0</string>
				<string>BORDER_WIDTH_LIST_ITEM_2_5</string>
				<string>BORDER_WIDTH_LIST_ITEM_3_0</string>
			</array>
			<key>validValues</key>
			<array>
				<real>0.5</real>
				<real>1.0</real>
				<real>1.5</real>
				<real>2.0</real>
				<real>2.5</real>
				<real>3.0</real>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_LABEL</string>
			<key>action</key>
			<string>reset</string>
		</dict>

	</array>
</dict>
</plist>
