<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PAGE_TITLE</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BRIGHTNESS_SETTINGS_FOOTER</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>COLOR_SPACE_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>COLOR_SPACE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>colorSpaceType</string>
			<key>id</key>
			<string>CMBColorSpaceType</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>COLOR_SPACE_LIST_ITEM_RGB</string>
				<string>COLOR_SPACE_LIST_ITEM_CIELAB</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>staticTextMessage</key>
			<string>COLOR_SPACE_LIST_DESCRIPTION</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>THRESHOLD_GROUP_LABEL</string>
			<key>footerText</key>
			<string>THRESHOLD_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>brightnessThreshold</string>
			<key>id</key>
			<string>CMBBrightnessThreshold</string>
			<key>default</key>
			<integer>730</integer>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>999</integer>
			<key>showValue</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>BADGE_COLOR_ADJUSTMENT_TYPE_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>BADGE_COLOR_ADJUSTMENT_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>badgeColorAdjustmentType</string>
			<key>id</key>
			<string>CMBBadgeColorAdjustmentType</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>BADGE_COLOR_ADJUSTMENT_TYPE_LIST_ITEM_NO_ADJUSTMENT</string>
				<string>BADGE_COLOR_ADJUSTMENT_TYPE_LIST_ITEM_SHADE_FOR_WHITE_TEXT</string>
				<string>BADGE_COLOR_ADJUSTMENT_TYPE_LIST_ITEM_TINT_FOR_BLACK_TEXT</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>BADGE_COLOR_ADJUSTMENT_TYPE_LIST_ITEM_SHORT_NO_ADJUSTMENT</string>
				<string>BADGE_COLOR_ADJUSTMENT_TYPE_LIST_ITEM_SHORT_SHADE_FOR_WHITE_TEXT</string>
				<string>BADGE_COLOR_ADJUSTMENT_TYPE_LIST_ITEM_SHORT_TINT_FOR_BLACK_TEXT</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>staticTextMessage</key>
			<string>BADGE_COLOR_ADJUSTMENT_TYPE_LIST_DESCRIPTION</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_LABEL</string>
			<key>action</key>
			<string>reset</string>
		</dict>

	</array>
</dict>
</plist>
