<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PAGE_TITLE</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>SIZE_ADJUSTMENT_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>SIZE_ADJUSTMENT_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>badgeSizeAdjustment</string>
			<key>id</key>
			<string>CMBBadgeSizeAdjustment</string>
			<key>default</key>
			<real>0.0</real>
			<key>validTitles</key>
			<array>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_-3_0</string>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_-2_5</string>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_-2_0</string>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_-1_5</string>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_-1_0</string>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_-0_5</string>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_0_0</string>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_0_5</string>
				<string>SIZE_ADJUSTMENT_LIST_ITEM_1_0</string>
			</array>
			<key>validValues</key>
			<array>
				<real>-3.0</real>
				<real>-2.5</real>
				<real>-2.0</real>
				<real>-1.5</real>
				<real>-1.0</real>
				<real>-0.5</real>
				<real>0.0</real>
				<real>0.5</real>
				<real>1.0</real>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CORNER_ROUNDNESS_GROUP_LABEL</string>
			<key>footerText</key>
			<string>CORNER_ROUNDNESS_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>key</key>
			<string>badgeCornerRoundnessScale</string>
			<key>id</key>
			<string>CMBBadgeCornerRoundnessScale</string>
			<key>default</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>100</integer>
			<key>showValue</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_LABEL</string>
			<key>action</key>
			<string>reset</string>
		</dict>

	</array>
</dict>
</plist>
