<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PAGE_TITLE</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BADGE_COLOR_GROUP_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>BADGE_COLOR_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>folderBadgeBackgroundType</string>
			<key>id</key>
			<string>CMBFolderBadgeBackgroundType</string>
			<key>default</key>
			<string>5</string>
			<key>validTitles</key>
			<array>
				<string>BADGE_COLOR_LIST_ITEM_FIXED_COLOR</string>
				<string>BADGE_COLOR_LIST_ITEM_LOWEST_BADGE</string>
				<string>BADGE_COLOR_LIST_ITEM_HIGHEST_BADGE</string>
				<string>BADGE_COLOR_LIST_ITEM_FIRST_BADGE</string>
				<string>BADGE_COLOR_LIST_ITEM_LAST_BADGE</string>
				<string>BADGE_COLOR_LIST_ITEM_RANDOM_BADGE</string>
				<string>BADGE_COLOR_LIST_ITEM_AVERAGE_COLOR</string>
				<string>BADGE_COLOR_LIST_ITEM_WEIGHTED_AVERAGE_COLOR</string>
				<string>BADGE_COLOR_LIST_ITEM_FOLDER_MINIGRID</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>staticTextMessage</key>
			<string>BADGE_COLOR_LIST_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>BADGE_COLOR_LINK_LABEL</string>
			<key>cellClass</key>
			<string>CMBColorPickerCell</string>
			<key>key</key>
			<string>folderBadgeBackgroundColor</string>
			<key>id</key>
			<string>CMBFolderBadgeBackgroundColor</string>
			<key>default</key>
			<string>#004A88</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TEXT_COLOR_GROUP_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>TEXT_COLOR_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>folderBadgeForegroundType</string>
			<key>id</key>
			<string>CMBFolderBadgeForegroundType</string>
			<key>default</key>
			<string>3</string>
			<key>validTitles</key>
			<array>
				<string>TEXT_COLOR_LIST_ITEM_FIXED_COLOR</string>
				<string>TEXT_COLOR_LIST_ITEM_BRIGHTNESS</string>
				<string>TEXT_COLOR_LIST_ITEM_BADGE_ELSE_FIXED_COLOR</string>
				<string>TEXT_COLOR_LIST_ITEM_BADGE_ELSE_BRIGHTNESS</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>TEXT_COLOR_LIST_ITEM_SHORT_FIXED_COLOR</string>
				<string>TEXT_COLOR_LIST_ITEM_SHORT_BRIGHTNESS</string>
				<string>TEXT_COLOR_LIST_ITEM_SHORT_BADGE_ELSE_FIXED_COLOR</string>
				<string>TEXT_COLOR_LIST_ITEM_SHORT_BADGE_ELSE_BRIGHTNESS</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>staticTextMessage</key>
			<string>TEXT_COLOR_LIST_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>TEXT_COLOR_LINK_LABEL</string>
			<key>cellClass</key>
			<string>CMBColorPickerCell</string>
			<key>key</key>
			<string>folderBadgeForegroundColor</string>
			<key>id</key>
			<string>CMBFolderBadgeForegroundColor</string>
			<key>default</key>
			<string>#FFFFFF</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>RESET_LABEL</string>
			<key>action</key>
			<string>reset</string>
		</dict>

	</array>
</dict>
</plist>
